@import "@/styles/_colors";

.header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &::before {
    $circle-size: 100px;

    content: "";
    width: $circle-size;
    height: $circle-size;
    background-color: $primary-color-2;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 0 0 $circle-size;
    z-index: -1;
  }

  img {
    aspect-ratio: 1;
    border-radius: 100%;
  }
}
@media print {
  .header {
    height: auto;

    & button {
      display: none !important;
    }
  }
}

@media print {
  .header-identity {
    flex-direction: row-reverse !important;
    justify-content: start !important;
    & > div {
      justify-content: start !important;
      align-items: start !important;
      align-content: start !important;
    }

    & img {
      width: 100px !important;
      height: 100px !important;
    }
  }
}
