.gallery {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow-x: auto;

  & > div {
    display: inline-block;
  }
}

@media print {
  .gallery {
    display: none !important;
  }
}

.gallery-image {
  margin: 4px;
  border-radius: 16px;
  max-height: 100px !important;
  border: #eee solid 1px;
  display: inline-block;
}
