@import "./sizes.scss";

.entry {
  padding-left: 20px;
  margin-left: 10px;
  padding-bottom: 20px;
  border-left: $border-size solid #eeeeee;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: $circle-size;
    height: $circle-size;
    left: calc(calc($circle-size / -2) - calc($border-size / 2));
    border-radius: $circle-size;
  }

  @media print {
    border-left: none;
    padding-left: 0;
    margin-left: 0;
    padding-bottom: 0;
  }
}
