.gallery {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow-x: auto;

  & > div {
    display: inline-block;
  }

  /* Firefox */
  & {
    scrollbar-width: thin;
    scrollbar-color: #cfd8dc transparent;
  }

  /* Chrome, Edge and Safari */
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: transparent;
  }

  &::-webkit-scrollbar-track:active {
    background-color: #eceff1;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #eceff1;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #cfd8dc;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #b0bec5;
  }

  @media print {
    display: none !important;
  }
}

.gallery-image {
  margin: 4px;
  border-radius: 16px;
  max-height: 100px !important;
  border: #eee solid 1px;
  display: inline-block;
}
